#a{
    border: 2px solid black;
    height: 350px;
    width: 140px;
    border-radius:10px ;
    background-color: black;
    margin-left: 40%;
}
#b{
    height:100px;
    border: 2px solid black;
    border-radius: 50%;
    width:100px ;
    margin-left: 17px;
    margin-top: 10px;
    background-color: red;
}
#c{
     height:100px;
    border: 2px solid black;
    border-radius: 50%;
    width:100px ;
    margin-left: 17px;
    margin-top: 10px;
    background-color: yellow;
}
#d{
    
     height:100px;
    border: 2px solid black;
    border-radius: 50%;
    width:100px ;
    margin-left: 17px;
    margin-top: 10px;
    background-color: green;

}
h1{
    text-align: center;
}
#pol{
    height: 400px;
    width: 30px;
    border: 2px solid black;
    margin-left: 43.5%;
    background-color: black;

}
*{
    background-color: blanchedalmond;
}
